package pages

import "github.com/baswilson/go-htmx-tailwind-typescript/app/templ/components"

templ Index() {
	@components.Page("Index") {
		<h1 class="text-3xl">Home</h1>
		<a href="/pokemon">/pokemon</a>
		<div class="flex items-center gap-2">
			<button hx-post="/clicked" hx-swap="outerHTML">Test HTMX</button>
			@components.Button(components.Props{
				Class: "",
				Label: "Test Button Component",
			})
		</div>
	}
}
