package components

templ Page(title string) {
	<html>
		<head>
			<script src="/out/main.js"></script>
			<link rel="stylesheet" href="/out/output.css"/>
			<title>{ title }</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
